/* Chat App */
.block_chat .chat-app {
    width: auto;
    height: 600px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

/* Chat Title */
.block_chat .chat-title {
    text-align: center;
    height: 70px;
    border-width: 1px;
    border-bottom: solid;
    border-color: black;
}

.block_chat .chat-header {
    font-size: 25px;
    text-align: center;
}

.block_chat #connection-status {
    font-size: 20px;
    text-align: center;
}

/* Chat Body */
.block_chat .chat-body {
    width: auto;
    height: 434px;
    margin: 4px;
    overflow: auto;
}

.block_chat #messages {
    padding: 0px 15px;
}

.block_chat .message-container {
    padding: 5px 15px;
}

/* Chat Message */
.block_chat .chat-message {
    width: auto;
    height: 80px;
}
.block_chat #user-typed-message {
    width: 70%;
    height: 80px;
    padding: 0px;
    margin: 0px 5px;
}

.block_chat textarea[name=message] {
    resize: none;
}

.block_chat #btn-send-message {
    width: 29%;
    height: 80px;
    padding: 0px;
    vertical-align: top;
}

/* Message Admin Options */
.block_chat #message-admin-opt {
    position: absolute;
    z-index: 999;
    width: 100px;
    height: 100px;
    background-color: #404040;
    top: 0px;
    left: 0px;
}

.block_chat .hide {
    visibility: hidden;
}

.block_chat .show {
    visibility: visible;
}

.block_chat #create-conversation {
    height: 60px;
    padding: 5px 0px;
}

.block_chat #conv-title {
    font-size: 30px;
    padding-right: 5px;
}

.block_chat textarea[name=conv-friendly-name] {
    resize: none;
    width: 350px;
    height: 50px;
    vertical-align: top;
    font-size: 20px;
}

.block_chat #go-live-btn {
    vertical-align: top;
    height: 50px;
    margin-left: 5px;
}
.block_chat #end-btn {
    vertical-align: top;
    height: 50px;
    margin-left: 5px;
}
